{{- $zenReleaseId := mozillaInstallHash "/opt/zen-browser-bin" -}}
{{- $zenReleasePath := "default" -}}
{{- $fireFoxReleaseId := mozillaInstallHash "/opt/firefox-bin" -}}
{{- $fireFoxReleasePath := "default" -}}

{{- $email := "alansedp@gmail.com" -}}
{{- $name := "ALAN S" -}}
{{- $user := "shadow" -}}

{{ if eq .chezmoi.osRelease.id "arch" -}}
{{- $aur := promptChoiceOnce . "aur" "AUR helper" (list "paru" "yay") -}}
{{- end }}

encryption = "gpg"

[data]
    email   = "{{ $email }}"
    name    = "{{ $name }}"
    user    = "{{ $user }}"
    disk    = "CT500P3SSD8"
    storage = "/mnt/storage"
  {{ if eq .chezmoi.osRelease.id "arch" -}}
    aur     = "{{ $aur }}"
  {{- end }}

[data.sddm]
    silent_variant = "catppuccin-mocha"

[data.packages]
    editing    = false
    games      = false

[data.home.zen]
    release_id   = "{{ $zenReleaseId }}"
    release_path = "{{ $zenReleasePath }}"

[data.home.firefox]
    release_id   = "{{ $fireFoxReleaseId }}"
    release_path = "{{ $fireFoxReleasePath }}"

{{ if eq .chezmoi.username $user -}}
[gpg]
    recipient = "{{ $email }}"
    args      = ["--quiet"]
{{- end }}

[git]
    autoCommit = true
    autoPush   = false

[diff]
  exclude = [
    "externals",
    "scripts"
  ]
