{{- $EndId := "end-4" -}}
{{- $EndBranch := "main" -}}

{{ if and (ne .chezmoi.osRelease.id "raspbian") (ne .chezmoi.osRelease.id "ubuntu") }}

#[".config/quickshell/noctalia-shell"]
#type = "git-repo"
#url = "https://github.com/noctalia-dev/noctalia-shell"
#refreshPeriod = "1m"

[".config/quickshell/noctalia-shell"]
type = "archive"
url = "https://github.com/noctalia-dev/noctalia-shell/releases/latest/download/noctalia-latest.tar.gz"
stripComponents = 1
refreshPeriod = "168h"

[".local/share/fonts"]
type = "archive"
url = "https://smc.org.in/downloads/fonts/raghumalayalamsans/raghumalayalamsans.zip"
include = ["*.otf", "*.ttf"]
refreshPeriod = "744h"

[".local/share/icons/Bibata-Modern-Ice"]
type = "archive"
url = "https://github.com/rtgiskard/bibata_cursor/releases/latest/download/Bibata-Modern-Ice.hypr.tar.zst"
refreshPeriod = "744h"
stripComponents = 1

[".local/share/icons/Bibata-Modern-Ice/"]
type = "archive"
url = "https://github.com/ful1e5/Bibata_Cursor/releases/latest/download/Bibata-Modern-Ice.tar.xz"
include = ["*/**"]
refreshPeriod = "744h"
stripComponents = 1

[".config/gf"]
type = "git-repo"
url = "https://github.com/coffinxp/GFpattren"
refreshPeriod = "168h"
{{ end }}

{{ if or (eq .chezmoi.osRelease.id "raspbian") (eq .chezmoi.osRelease.id "ubuntu") }}
{{ $processor := output "uname" "-p" | trim }}
[".local/bin/fzf"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-*-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote  }}
executable = true
path = "fzf"

[".local/bin/starship"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "starship/starship" (printf "starship-%s-*-%s-*.tar.gz" $processor .chezmoi.os) | quote }}
executable = true
path = "starship"

[".local/bin/nvim"]
type = "file"
url = "https://github.com/neovim/neovim/releases/download/stable/nvim.appimage"
refreshPeriod = "672h"
executable = true
{{ end }}
