{{- $EndId := "end-4" -}}
{{- $EndBranch := "main" -}}

{{ if or (eq .chezmoi.osRelease.id "raspbian") (eq .chezmoi.osRelease.id "ubuntu") }}

#[".config/quickshell/noctalia-shell"]
#type = "git-repo"
#url = "https://github.com/noctalia-dev/noctalia-shell"
#refreshPeriod = "1m"

[".config/quickshell/noctalia-shell"]
type = "archive"
url = "https://github.com/noctalia-dev/noctalia-shell/releases/latest/download/noctalia-latest.tar.gz"
stripComponents = 1
refreshPeriod = "168h"

[".local/share/fonts"]
type = "archive"
url = "https://smc.org.in/downloads/fonts/raghumalayalamsans/raghumalayalamsans.zip"
include = ["*.otf", "*.ttf"]
refreshPeriod = "744h"

[".local/share/icons/Bibata-Modern-Ice"]
type = "archive"
url = "https://github.com/rtgiskard/bibata_cursor/releases/latest/download/Bibata-Modern-Ice.hypr.tar.zst"
refreshPeriod = "744h"
stripComponents = 1

[".local/share/icons/Bibata-Modern-Ice/"]
type = "archive"
url = "https://github.com/ful1e5/Bibata_Cursor/releases/latest/download/Bibata-Modern-Ice.tar.xz"
include = ["*/**"]
refreshPeriod = "744h"
stripComponents = 1

[".config/gf"]
type = "git-repo"
url = "https://github.com/coffinxp/GFpattren"
refreshPeriod = "168h"
{{ end }}

{{ if or (eq .chezmoi.osRelease.id "raspbian") (eq .chezmoi.osRelease.id "ubuntu") }}
[".local/bin/fzf"]
type = "archive"
url = "https://github.com/junegunn/fzf/releases/download/v0.68.0/fzf-0.68.0-linux_amd64.tar.gz"
stripComponents = 1
executable = true

[".local/bin/starship"]
type = "archive"
url = "https://github.com/starship/starship/releases/latest/download/starship-x86_64-unknown-linux-gnu.tar.gz"
stripComponents = 1
executable = true
{{ end }}
