{{- if ne .chezmoi.username "shadow" }}
.chezmoiscripts/01-setup-gpg.sh
.chezmoiscripts/02-configure-repo.sh
.chezmoiscripts/03-install-packages.sh
.chezmoiscripts/04-setup-sddm.sh
.chezmoiscripts/06-setup-spotify.sh
.chezmoiscripts/07-setup-home.sh
.chezmoiscripts/05-enable-services.sh
.gnupg
.gnupg/**
.config/spotify/*
.gitconfig
.git-credentials
{{- end }}

.chezmoiscripts/06-setup-spotify.sh
