encryption = "gpg"
refreshExternals = true

[data]
      email = "alansedp@gmail.com"
      name  = "ALAN S"
      storage = "/mnt/storage"

      # pkgs
      quickshell = true
      legacy = false
      editing = false
      games = false

      # sddm
      sddm_silent_variant = "rei"

[gpg]
      recipient = "alansedp@gmail.com"
      args = ["--quiet"]

[git]
      autoCommit = true
      autoPush = false
