[user]
	email = {{ .email}}
	name = {{ .name}}
  signingkey = {{ .email}}

[credential]
	helper = store

[core]
	editor = nvim

[commit]
	gpgsign = true

[github]
	signingkey = {{ .email}}

[url "main:"]
    insteadOf = https://github.com/

[url "gitlab:"]
    insteadOf = https://gitlab.com/
