#!/usr/bin/env bash
set -euo pipefail
{{ template "utils" . }}

STORAGE="{{ .storage | default "/mnt/storage" }}"

set -euo pipefail

mkdir -p "$HOME"/{Videos/Captures/Clips,Music/Clips,Pictures/Screenshots}
rm -rf "$HOME/Documents"
ln -sf "$STORAGE/Documents"  "$HOME/Documents"
ln -sf "$STORAGE/Movies"     "$HOME/Videos/Movies"
ln -sf "$STORAGE/Music"      "$HOME/Music"
ln -sf "$STORAGE/courses"    "$HOME/Videos/courses"
ln -sf "$STORAGE/wall"       "$HOME/Pictures/Wallpapers"
ln -sf "$STORAGE/code"       "$HOME/code"

xdg-user-dirs-update
ok "Directories setup complete"

{{- if eq .chezmoi.username .user }}

if [[ "$SHELL" != "$(which zsh)" ]]; then
  zsh -c 'source ~/.zshrc'
  info "Changing shell to zsh"
  sudo chsh -s "$(which zsh)" "$USER"
fi

{{ if eq .chezmoi.osRelease.id "arch" -}}
rm -rf ~/go ~/paru-bin
sudo systemctl disable iwd.service
sudo systemctl disable systemd-networkd.service
nmcli dev wifi connect "{{ pass "desktop/wifi-name" }}" password "{{ pass "desktop/wifi-pass" }}"
{{ end -}}

sudo virsh net-autostart default
sudo virsh net-start default

echo 'y' | warp-cli registration new
warp-cli connect

ok "Installation completed"

tgMsg "🌸 All Done 🎉. Now reboot your system"

if confirm "Reboot now?"; then
  reboot
else
  info "Reboot skipped"
fi
{{- end }}
