#!/usr/bin/env bash
set -euo pipefail
{{ template "utils" . }}

if [[ -f /boot/grub/grub.cfg || -f /boot/grub2/grub.cfg ]]; then
  step "Adding nvidia_drm.modeset=1 to grub"
  sudo sed -i 's/quiet/splash quiet nvidia_drm.modeset=1/g' /etc/default/grub
  sudo grub-mkconfig -o /boot/grub/grub.cfg
fi

step "Adding nvidia modules to mkinitcpio"
sudo sed -i 's/MODULES=()/MODULES=(nvidia nvidia_modeset nvidia_uvm nvidia_drm)/g' /etc/mkinitcpio.conf

step "Blacklisting nouveau"
echo "blacklist nouveau" | sudo tee /etc/modprobe.d/blacklist.conf >/dev/null

step "Rebuilding initramfs"
sudo mkinitcpio -P

ok "Nvidia setup complete"
