#!/usr/bin/env bash
set -euo pipefail
trap 'exit 130' INT
source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.lib/util.sh"

{{- define "flat" -}}
  {{- range $k, $v := . }}{{- range $v }}"{{ . }}" {{ end }}{{- end -}}
{{- end }}

tgMsg "📦 Package installation started..."
retry "Database sync" paru -Syy --noconfirm --sudoloop

installPkg "Base"     {{ template "flat" (include ".chezmoidata/packages/linux/arch/base.yaml"      | fromYaml) }}
installPkg "Nvidia"   {{ template "flat" (include ".chezmoidata/packages/linux/arch/nvidia.yaml"    | fromYaml) }}
installPkg "Desktop" {{ template "flat" (include ".chezmoidata/packages/linux/arch/desktop.yaml" | fromYaml) }}
installPkg "User Applications" {{ template "flat" (include ".chezmoidata/packages/linux/arch/applications.yaml" | fromYaml) }}

{{ if .packages.editing -}}
installPkg "Editing" {{ template "flat" (include ".chezmoidata/packages/applications/editing.yaml" | fromYaml) }}
{{ else -}}
skipPkg "Editing"
{{ end -}}

{{ if .packages.games -}}
installPkg "Games" {{ template "flat" (include ".chezmoidata/packages/applications/games.yaml" | fromYaml) }}
{{ else -}}
skipPkg "Games"
{{ end -}}

printSummary
[[ ${#failed[@]} -gt 0 ]] && tgMsg "🚨 ${#failed[@]} packages failed to install"

tgMsg "✅ Package Installation Finished."
ok "All done."
