#!/bin/env bash

echo -e "\033[34m[INFO]\033[0m Preparing installation..."

{{ if eq .chezmoi.osRelease.id "arch" }}
gum spin --title "Installing Arch Linux Keyring ..." -- sudo pacman -Sy --noconfirm archlinux-keyring
gum spin --title "Installing basic utils..." -- sudo pacman -S --needed --noconfirm git base-devel
git clone https://aur.archlinux.org/paru-git.git
cd paru-git
gum spin --title "Building binary..." -- makepkg -si --noconfirm
{{ end }}

{{ if ne .chezmoi.osRelease.id "arch" }}
sudo pacman -Sy --noconfirm gum >/dev/null 2>&1
{{ end }}

gum spin --title "Upgrading System" -- paru -Syyu --noconfirm
