#!/bin/env bash

set -euo pipefail

DISK_MODEL="{{ .disk }}"
MOUNT_POINT="{{ .storage }}"

gum style "Finding device with model: $DISK_MODEL..."

DEVICE=$(lsblk -dno NAME,MODEL | grep "$DISK_MODEL" | awk '{print "/dev/" $1}')
if [ -z "$DEVICE" ]; then
  gum style "Device with model '$DISK_MODEL' not found." --foreground 1
  exit 1
fi

gum style "Device found: $DEVICE"

UUID=$(sudo blkid -s UUID -o value "$DEVICE")
if [ -z "$UUID" ]; then
  gum style "UUID not found for $DEVICE" --foreground 1
  exit 1
fi

if [ ! -d "$MOUNT_POINT" ]; then
  gum spin --title "Creating mount point $MOUNT_POINT..." -- sudo mkdir -p "$MOUNT_POINT"
fi

gum spin --title "Mounting $DEVICE to $MOUNT_POINT..." -- sudo mount "$DEVICE" "$MOUNT_POINT"

if ! grep -q "$UUID" /etc/fstab; then
  gum spin --title "Adding entry to /etc/fstab..." -- bash -c "echo 'UUID=$UUID $MOUNT_POINT ext4 defaults,rw,user,exec 0 2' | sudo tee -a /etc/fstab"
fi

echo "$(gum style --foreground 10 '[SUCCESS]') Setting up secondary disk"
