#!/usr/bin/env bash
set -euo pipefail
source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.lib/util.sh"

info "Preparing installation"

{{ if eq .chezmoi.osRelease.id "arch" -}}
step "Installing keyring"
sudo pacman -Sy --noconfirm archlinux-keyring >/dev/null 2>&1
step "Installing base-devel"
sudo pacman -S --needed --noconfirm git base-devel >/dev/null 2>&1

if ! command -v paru &>/dev/null; then
  step "Building paru"
  git clone https://aur.archlinux.org/paru-git.git /tmp/paru-git
  (cd /tmp/paru-git && makepkg -si --noconfirm)
  rm -rf /tmp/paru-git
fi
{{ else -}}
sudo pacman -Sy --noconfirm >/dev/null 2>&1
{{ end -}}

step "Upgrading system"
paru -Syyu --noconfirm >/dev/null 2>&1

ok "Preparation complete"
