#!/usr/bin/env bash
sudo apt update -y

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt install zsh starship fzf neovim eza tmux build-essential -y
{{ end }}

sudo apt install zsh starship fzf bat eza zoxide tmux build-essential -y

sudo chsh -s $(which zsh) $USER

sudo tee /etc/motd > /dev/null <<'EOF'

 ▗▄▄▖▗▖ ▗▖ ▗▄▖ ▗▄▄▄  ▗▄▖ ▗▖ ▗▖    ▗▄▄▄▖▗▖   ▗▄▄▄▖▗▄▄▄▖▗▄▄▄▖
▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌  █▐▌ ▐▌▐▌ ▐▌    ▐▌   ▐▌     █    █  ▐▌
 ▝▀▚▖▐▛▀▜▌▐▛▀▜▌▐▌  █▐▌ ▐▌▐▌ ▐▌    ▐▛▀▀▘▐▌     █    █  ▐▛▀▀▘
▗▄▄▞▘▐▌ ▐▌▐▌ ▐▌▐▙▄▄▀▝▚▄▞▘▐▙█▟▌    ▐▙▄▄▖▐▙▄▄▖▗▄█▄▖  █  ▐▙▄▄▖


EOF
