#!/usr/bin/env bash
set -euo pipefail

if [ -z "${XDG_RUNTIME_DIR:-}" ]; then
  export XDG_RUNTIME_DIR=/run/user/$(id -u)
fi
if [ -z "${DBUS_SESSION_BUS_ADDRESS:-}" ]; then
  export DBUS_SESSION_BUS_ADDRESS=unix:path=$XDG_RUNTIME_DIR/bus
fi

{{ template "utils" . }}

USER_SERVICES=(
{{- with .services }}{{- with .user }}{{- range . }}"{{ . }}" {{ end }}{{- end }}{{- end -}}
)

SYSTEM_SERVICES=(
{{- with .services }}{{- with .system }}{{- range . }}"{{ . }}" {{ end }}{{- end }}{{- end -}}
)

info "User services (${#USER_SERVICES[@]})"
for s in "${USER_SERVICES[@]}"; do enableSvc "$s" "user"; done

info "System services (${#SYSTEM_SERVICES[@]})"
for s in "${SYSTEM_SERVICES[@]}"; do enableSvc "$s" "system"; done

{{ range .groups -}}
sudo usermod -aG {{ . }} "$USER"
{{ end -}}

# mask autostart
systemctl --user mask xdg-desktop-autostart.target 2>/dev/null || warn "Could not mask xdg-desktop-autostart.target, no user session yet"

ok "Finished services and groups"
