#!/usr/bin/env bash
set -euo pipefail

{{- define "flat" -}}
  {{- range . }}"{{ . }}" {{ end -}}
{{- end }}

sudo apt update -y

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt install -y {{ template "flat" (include ".chezmoidata/packages/linux/ubuntu/ubuntu.yaml" | fromYaml).packages }}
{{ else if eq .chezmoi.osRelease.id "raspbian" }}
sudo apt install -y {{ template "flat" (include ".chezmoidata/packages/linux/rasbian/rasbian.yaml" | fromYaml).packages }}
{{ end }}

sudo usermod -aG docker "$USER"

sudo chsh -s "$(which zsh)" "$USER"

sudo tee /etc/motd > /dev/null <<'EOF'

 ▗▄▄▖▗▖ ▗▖ ▗▄▖ ▗▄▄▄  ▗▄▖ ▗▖ ▗▖    ▗▄▄▄▖▗▖   ▗▄▄▄▖▗▄▄▄▖▗▄▄▄▖
▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌  █▐▌ ▐▌▐▌ ▐▌    ▐▌   ▐▌     █    █  ▐▌
 ▝▀▚▖▐▛▀▜▌▐▛▀▜▌▐▌  █▐▌ ▐▌▐▌ ▐▌    ▐▛▀▀▘▐▌     █    █  ▐▛▀▀▘
▗▄▄▞▘▐▌ ▐▌▐▌ ▐▌▐▙▄▄▀▝▚▄▞▘▐▙█▟▌    ▐▙▄▄▖▐▙▄▄▖▗▄█▄▖  █  ▐▙▄▄▖


EOF

