#!/usr/bin/env bash
set -euo pipefail
{{ template "utils" . }}

{{- $bwFolderId := "3bb893f4-9a06-4477-afe5-b33c00c20c5d" }}
{{- $ghTokenId := "1b48a5cc-4f95-4704-a6e2-b33c011e4532" }}

checkDeps gnupg jq bitwarden-cli git pass

mkdir -p "$HOME/.config/Bitwarden CLI"
touch "$HOME/.config/Bitwarden CLI/data.json"

info "Logging in to Bitwarden"
BW_SESSION=$(bw login {{ .email }} --raw)
if [[ -z "$BW_SESSION" ]]; then
  warn "Login failed, retrying"
  BW_SESSION=$(bw login {{ .email }} --raw)
  [[ -z "$BW_SESSION" ]] && { err "Login failed. Exiting."; exit 1; }
fi

info "Importing GPG keys"
bw list items --session "$BW_SESSION" --folderid "{{ $bwFolderId }}" \
  | jq -r '.[] | select(.notes | contains("BEGIN PGP")) | .notes' \
  | gpg --import --batch --yes -q

info "Setting GPG key trust"
echo -e "trust\n5\ny\n" | gpg --batch --command-fd 0 --edit-key {{ .email }} >/dev/null 2>&1

mkdir -p ~/.gnupg
cat > ~/.gnupg/gpg-agent.conf <<EOF
default-cache-ttl 28800
max-cache-ttl 86400
EOF

gpg-connect-agent reloadagent /bye >/dev/null
info "Enter GPG password"
gpg -q --pinentry-mode loopback --sign --default-key {{ .email }} --output /dev/null <<< "unlock"

info "Cloning password store"
GH_TOKEN=$(bw --session "$BW_SESSION" get item "{{ $ghTokenId }}" | jq -r '.notes')
[[ -z "$GH_TOKEN" ]] && { err "GitHub token not found. Exiting."; bw logout; exit 1; }
if [[ -d ~/.password-store/.git ]]; then
  step "Already exists, pulling"
  git -C ~/.password-store pull
else
  rm -rf ~/.password-store
  git clone "https://${GH_TOKEN}@github.com/shadowe1ite/.password-store.git" ~/.password-store
fi
ok "Password store ready"

info "Cleaning up"
bw logout
$AUR -Rns --noconfirm bitwarden-cli >/dev/null 2>&1

ok "GPG setup completed"
