#!/usr/bin/env bash
set -euo pipefail
source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.lib/util.sh"

MODEL="{{ .disk }}"
MNT="{{ .storage }}"

step "Finding device: $MODEL"
DEV=$(lsblk -dno NAME,MODEL | grep "$MODEL" | awk '{print "/dev/" $1}')
[[ -z "$DEV" ]] && { err "Device '$MODEL' not found."; exit 1; }

step "Device: $DEV"
UUID=$(sudo blkid -s UUID -o value "$DEV")
[[ -z "$UUID" ]] && { err "UUID not found for $DEV"; exit 1; }

[[ ! -d "$MNT" ]] && sudo mkdir -p "$MNT"
mountpoint -q "$MNT" || sudo mount "$DEV" "$MNT"
grep -q "$UUID" /etc/fstab || echo "UUID=$UUID $MNT ext4 defaults,rw,user,exec 0 2" | sudo tee -a /etc/fstab >/dev/null

ok "Secondary disk setup complete"
