Host server
      Hostname server.{{ .domain }}
      ProxyCommand cloudflared access ssh --hostname %h
      User elite

Host bugs
      Hostname bugs.{{ .domain }}
      ProxyCommand cloudflared access ssh --hostname %h
      User bugs

Host pi
      Hostname pi.{{ .domain }}
      ProxyCommand cloudflared access ssh --hostname %h
      User {{ .user }}

Host pi.local
      Hostname 192.168.1.154
      User {{ .user }}

Host main
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519_main

Host gitlab
  HostName gitlab.com
  User git
  IdentityFile ~/.ssh/id_ed25519_gitlab
