* {
    primary: #ffb0ca;
    primary-fixed: #ffd9e3;
    primary-fixed-dim: #ffb0ca;
    on-primary: #640035;
    on-primary-fixed: #3e001f;
    on-primary-fixed-variant: #89104d;
    primary-container: #e96198;
    on-primary-container: #000000;
    secondary: #feb1ca;
    secondary-fixed: #ffd9e3;
    secondary-fixed-dim: #feb1ca;
    on-secondary: #521e33;
    on-secondary-fixed: #38091e;
    on-secondary-fixed-variant: #6d344a;
    secondary-container: #6d344a;
    on-secondary-container: #ffd5e1;
    tertiary: #ffb694;
    tertiary-fixed: #ffdbcc;
    tertiary-fixed-dim: #ffb694;
    on-tertiary: #561f00;
    on-tertiary-fixed: #351000;
    on-tertiary-fixed-variant: #7a2f00;
    tertiary-container: #ea6b22;
    on-tertiary-container: #000000;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #1b1014;
    on-surface: #f2dde2;
    on-surface-variant: #dcbfc7;
    outline: #a48a91;
    outline-variant: #564147;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #f2dde2;
    inverse-on-surface: #3a2d31;
    inverse-primary: #a92d65;
    surface-dim: #1b1014;
    surface-bright: #433639;
    surface-container-lowest: #150b0f;
    surface-container-low: #24191c;
    surface-container: #281c20;
    surface-container-high: #33272a;
    surface-container-highest: #3e3135;
}
