include "modules/startups.kdl"
include "modules/theme.kdl"
include "modules/apps.kdl"
include "modules/env.kdl"
include "modules/nvidia.kdl"
include "modules/monitor.kdl"
include "modules/input.kdl"
include "modules/switches.kdl"
include "modules/layout.kdl"
include "modules/animations.kdl"
include "modules/workspaces.kdl"
include "modules/windowrules.kdl"
include "modules/keybinds.kdl"
include "modules/gestures.kdl"
include "modules/quickshell.kdl"
include "modules/miscs.kdl"
