["templates/noctalia-templates"]
type = "archive"
url = "https://github.com/noctalia-dev/noctalia-shell/archive/refs/heads/main.tar.gz"
stripComponents = 3
include = ["*/Assets/Templates/**"]
refreshPeriod = "168h"
