layout {

    background-color "{{colors.surface.default.hex}}"  
    
    focus-ring {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.surface.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    border {
        active-color   "{{colors.surface.default.hex}}"
        inactive-color "{{colors.surface.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    shadow {
        color "{{colors.shadow.default.hex}}70"
    }

    tab-indicator {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.primary_container.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    insert-hint {
        color "{{colors.primary.default.hex}}80"
    }
}

recent-windows {
    highlight {
        active-color "{{colors.primary.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
        corner-radius 16
    }
}

spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "gtk-theme" "adw-gtk3-dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "icon-theme" "Fluent-teal-dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "font-name" "SauceCodePro Nerd Font Mono"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "document-font-name" "SauceCodePro Nerd Font Mono"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "monospace-font-name" "SauceCodePro Nerd Font Mono"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.wm.preferences" "titlebar-font" "SauceCodePro Nerd Font Mono"
spawn-at-startup "gsettings" "set" "org.cinnamon.desktop.default-applications.terminal" "exec" "alacritty"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.wm.preferences" "button-layout" "appmenu:maximize,close"
