spawn-at-startup "noctalia"

binds {
    // Brightness
    XF86MonBrightnessUp   allow-when-locked=true { spawn "noctalia" "msg" "brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia" "msg" "brightness-down"; }

    // Launchers / UI
    Mod+Space { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    //Mod+Super_L { spawn "noctalia" "msg" "bar-toggle"; }
    Mod+Alt+Space { spawn "noctalia" "msg" "panel-toggle" "launcher" "/tr ml "; } // translate to Malayalam - requires: noctalia msg plugins enable noctalia/translator
    Ctrl+Mod+Alt+Space { spawn "noctalia" "msg" "panel-toggle" "launcher" "/tr en "; } // translate to English

    Mod+E { spawn "noctalia" "msg" "panel-toggle" "launcher" "/emo "; }
    Mod+V { spawn "noctalia" "msg" "panel-toggle" "clipboard"; }
    Alt+M { spawn "noctalia" "msg" "panel-toggle" "wallpaper"; }

    // Notifications / Panels
    Ctrl+Shift+Grave { spawn "noctalia" "msg" "notification-clear-active"; }
    Mod+Semicolon    { spawn "noctalia" "msg" "panel-toggle" "control-center" "notifications"; }
    Mod+Apostrophe   { spawn "noctalia" "msg" "panel-toggle" "control-center"; }
    Mod+L            { spawn "noctalia" "msg" "panel-toggle" "control-center" "calendar"; }

    // Recording - requires: noctalia msg plugins enable noctalia/screen_recorder
    Ctrl+Alt+R { spawn "noctalia" "msg" "plugin" "noctalia/screen_recorder:service" "all" "toggle"; }
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}
