layout {

    background-color "#151217"  
    
    focus-ring {
        active-color   "#dbb9f9"
        inactive-color "#151217"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#151217"
        inactive-color "#151217"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#dbb9f9"
        inactive-color "#563a70"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#dbb9f980"
    }
}

recent-windows {
    highlight {
        active-color "#dbb9f9"
        urgent-color "#ffb4ab"
    }
}

overview {
    backdrop-color "#151217"
}

spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "gtk-theme" "adw-gtk3-dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "icon-theme" "Fluent-teal-dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "font-name" "SauceCodePro Nerd Font Mono"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "document-font-name" "SauceCodePro Nerd Font Mono"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "monospace-font-name" "SauceCodePro Nerd Font Mono"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.wm.preferences" "titlebar-font" "SauceCodePro Nerd Font Mono"
spawn-at-startup "gsettings" "set" "org.cinnamon.desktop.default-applications.terminal" "exec" "alacritty"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.wm.preferences" "button-layout" "appmenu:maximize,close"
