layout {

    background-color "#151218"  
    
    focus-ring {
        active-color   "#dbb8ff"
        inactive-color "#151218"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#151218"
        inactive-color "#151218"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#dbb8ff"
        inactive-color "#a87ed8"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#dbb8ff80"
    }
}

recent-windows {
    highlight {
        active-color "#dbb8ff"
        urgent-color "#ffb4ab"
    }
}

overview {
    backdrop-color "#151218"
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "gtk-theme" "adw-gtk3-dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "icon-theme" "Fluent-teal-dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "font-name" "SauceCodePro Nerd Font Mono"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "document-font-name" "SauceCodePro Nerd Font Mono"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "monospace-font-name" "SauceCodePro Nerd Font Mono"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.wm.preferences" "titlebar-font" "SauceCodePro Nerd Font Mono"
spawn-at-startup "gsettings" "set" "org.cinnamon.desktop.default-applications.terminal" "exec" "alacritty"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.wm.preferences" "button-layout" "appmenu:maximize,close"
