{{- if .home.zen.sineMode }}
["JS"]
type = "archive"
url = "https://github.com/CosmoCreeper/Sine/raw/main/deployment/engine.zip"
refreshPeriod = "24h"

["utils"]
stripComponents = 4
type = "archive"
url = "https://github.com/MrOtherGuy/fx-autoconfig/archive/refs/heads/master.zip"
include = ["*/profile/chrome/utils/**"]
refreshperiod = "24h"

["sine-mods/material"]
type = "git-repo"
url = "https://github.com/shadowe1ite/material"

{{ end }}
