["plugins/privacy-indicator"]
type = "archive"
url = "https://api.github.com/repos/noctalia-dev/noctalia-plugins/tarball/main"
exact = true
stripcomponents = 2
include = ["*/privacy-indicator/**"]
refreshperiod = "2h"

["plugins/mini-docker"]
type = "archive"
url = "https://api.github.com/repos/noctalia-dev/noctalia-plugins/tarball/main"
exact = true
stripcomponents = 2
include = ["*/mini-docker/**"]
refreshperiod = "2h"

["plugins/todo"]
type = "archive"
url = "https://api.github.com/repos/noctalia-dev/noctalia-plugins/tarball/main"
exact = true
stripcomponents = 2
include = ["*/todo/**"]
refreshperiod = "2h"

["plugins/lyrics"]
type = "archive"
url = "https://api.github.com/repos/shadowe1ite/noctalia-plugins/tarball/main"
exact = true
stripcomponents = 2
include = ["*/lyrics/**"]
refreshperiod = "2h"

["plugins/qs-hyprview"]
type = "archive"
url = "https://api.github.com/repos/shadowe1ite/noctalia-plugins/tarball/main"
exact = true
stripcomponents = 2
include = ["*/qs-hyprview/**"]
refreshperiod = "2h"

["plugins/quickshell-overview"]
type = "archive"
url = "https://api.github.com/repos/shadowe1ite/noctalia-plugins/tarball/main"
exact = true
stripcomponents = 2
include = ["*/quickshell-overview/**"]
refreshperiod = "2h"

["plugins/hackerbox"]
type = "archive"
url = "https://api.github.com/repos/shadowe1ite/noctalia-plugins/tarball/main"
exact = true
stripcomponents = 2
include = ["*/hackerbox/**"]
refreshperiod = "2h"

["colorschemes"]
type = "archive"
stripComponents = 1
url = "https://api.github.com/repos/noctalia-dev/noctalia-colorschemes/tarball/main"
exact = false
exclude = [
      "*/README.md",
]
